@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');

/* Header */
body {
    background: linear-gradient(
        to right,
        rgba(67, 63, 251, 1),
        rgba(205, 70, 252, 0)
      ),url(../photo/Background_foto.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0;
      margin: 0; 
}

.headerBlock {
    padding-left: 275px;
    margin-right: 100px;
    padding-top: 150px;
    position: relative;
    align-content: space-around;
}


.headerText {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 64px;
    max-width: 415px;
    width: auto;
    color: #FFFFFF;
    display: inline-block;
}

.headerPhoto {
    display: inline-block;
    float: right;
    padding-right: 100px;
}

.button {
    background-color: orange;
    border: orange;
    color: #FFFFFF;
    padding: 15px 32px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-left: 250px;
    margin-bottom: 250px;
}


/* First Section */

.firstSection {
    background: linear-gradient(to right, #FFB800 0%, #FFB800 50%, #FFFFFF 50%, #FFFFFF 100%);
    background-attachment: fixed;
    padding-bottom: 100px;
}



.orangeText {
    padding-top: 55px;
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 31px;
    padding-left: 100px;
    width: auto;
    max-width: 550px;
    display: inline-block;
}


.whiteText {
    padding-right: 90px;
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 31px;
    max-width: 610px;
    width: auto;
    display: inline-block;
    padding-left: 360px;
    
}

.lidostasButton {
    background-color: orange;
    border: orange;
    color: #FFFFFF;
    padding: 15px 32px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: center;
    font-size: 30px;
    margin-right: 350px;
    float: right;
}

/* Second Section */

.secondSection {
    background: #59399C;
    opacity: 0.8; 
    padding-bottom: 100px;
}

.planePhotos {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.firstPhoto {
    margin-left: 190px;
}

.secondPhoto {
    margin-left: auto;
    margin-right: auto;
}

.thirdPhoto {
    margin-right: 190px;
}
.secondSectionContainer {
    display: flex;
}

.secondSectionText {
    justify-content: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    max-width: 300px;
    width: auto;
    margin-left: 190px
}

.verticalLine {
    margin-top: 120px;
    position: relative;
    width: 125.5px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.secondSectionDescription {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    max-width: 559px;
    width: auto;
    color: #FFFFFF;
    margin-right: 385px;

}

.lidmasinasButton {
    background-color: orange;
    border: orange;
    color: #FFFFFF;
    padding: 15px 32px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: center;
    font-size: 30px;
    margin-right: 350px;
    float: right;
}