<!doctype html>
<html lang="lv">
<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <meta name="description" content="Lidostas sakumlapa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/addAirport.css">
</head>
<body>
    <h1>Pievienot lidojumu</h1>
    <form method="post">
        <input type="text" name="airportName" id="airportName" class="form-control" placeholder="Lidostas Nosaukums" required><br>
        <input type="text" name="shortAirportName" id="shortAirportName" class="form-control" placeholder="Saisinats Lidostas Nosaukums" required><br>
        <input type="text" name="airportAddress" id="airportAddress" class="form-control" placeholder="Lidostas Adrese" required><br>
        <input type="submit" class="btn btn-success" value="Pievienot">
    </form>

    <script src="static/js/addAirport.js"></script>
</body>
</html>