<!doctype html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <title>Lidostas</title>
    <meta name="description" content="Lidostas">
    <link rel="stylesheet" href="static/css/airport.css">
</head>
<body>
    <header>
    <a href="/login"><button class="loginButton">Ienākt</button></a>
    <h1>Lidostas</h1>
    <div class='airportList'>
            <table>
                  <tr class="tableTitle">
                      <td>Lidostas nosaukums</td>
                      <td>Saisinātais Lidostas nosaukums</td>
                      <td>Lidostas Adrese</td>
                </tr>
                {% for element in airportdata %}
                <tr class="tableInfo">
                    <td>{{ element.airportName }}</td>
                    <td>{{ element.shortenAirportName }}</td>
                    <td>{{ element.airportAddress }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </header>
    <footer>
        </div>
        <div class='pictures'>
            <div class="photo">
                <img class="firstPhoto" src="static/photo/AirportPhotoFirst.jpg" alt="First Airport Photo">
            </div>
            <div class="photo">
                <img class="secondPhoto" src="static/photo/AirportPhotoSecond.jpg" alt="Second Airport Photo">
            </div>
            <div class="photo">
                <img class="thirdPhoto" src="static/photo/AirportPhotoThird.jpg" alt="Third Airport Photo">
            </div>
        </div>
    </footer>
    <script src="static/js/airport.js"></script>
</body>
</html>