<!doctype html>
<html lang="lv">
<head>
  <meta charset="utf-8">
  <title>Main Page</title>
  <meta name="description" content="Lidostas sakumlapa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <header>
    <div class='headerBlock'>
      <a href="/login"><button class="loginButton">Ienākt</button></a>
      <h1 class="headerText">Rezervē lidojumu jau tagad!</h1>
      <img class="headerPhoto" src="static/photo/plane_photo_header.png" alt="plane photo">
    </div>
    <a href=/saraksts><button class='button' >Rezervēt</button></a>
  </header>
  <section class='firstSection'>
    <div class='firstSectionContainer'>
      <p class='orangeText'>Pie mums jūs atradīsiet plašāko klāstu ar viss labākajām lidostām, labākos maršrutus un labākas cenas tieši priekš jums </p>
      <p class='whiteText'>Mēs dodam jums iespēju apskatīt visas mūsu lidostas pārliecināties par jūsu drošību un ērtību  un izvēlēties viss labāko</p>
      <a href="/lidostas"><button class='lidostasButton'>Lidostas</button></a>
    </div>
  </section>
  <section class='secondSection'>
    <div class="planePhotos">
      <img class="firstPhoto" src="static/photo/Lidmasinas_Foto_1.png" alt="First Second Section Photo">
      <img class="secondPhoto" src="static/photo/Lidmasinas_Foto_2.png" alt="Second Second Section Photo">
      <img class="thirdPhoto" src="static/photo/Lidmasinas_Foto_3.png" alt="Third Second Section Photo">
    </div>
    <div class='secondSectionContainer'>
      <h2 class='secondSectionText'>Mēs rūpējamies par jūsu drošību un ērtību</h2>
      <div class='verticalLine'></div>
      <p class='secondSectionDescription'>Pie mums ir viss drošākie un ērtākie lidojumi tu vari pārliecināties un pats tos vari apksatīt</p>
    </div>
    <a href="/lidmasinas"><button class='lidmasinasButton'>Lidmašīnas</button></a>
  </section>
  <section class='thirdSection'>
    
  </section>
  <script src="static/js/main.js"></script>
</body>
</html>