<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Autorizēšanās</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">E-Pasts</span>
            <input type="text" placeholder="Ievadiet E-Pastu" required>
          </div>
          <div class="input-box">
            <span class="details">Parole</span>
            <input type="password" placeholder="Ievadiet paroli" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Ienākt">
        </div>
      </form>
      <div class="registerBtn">
        <a href="/register"><button class="registerButton">Reģistrēties</button></a>
        <div class="divider"></div>
        <a href="/"><button class="mainButton">Atgriezties</button></a>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="static/js/login.js"></script>
</html>