<!doctype html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <title>Lidmašīnas</title>
    <meta name="description" content="Lidmašīnas">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/planes.css')}}">
</head>
<body>
    <header>
    <a href="/login"><button class="loginButton">Ienākt</button></a>
    <h1>Lidmašīnas</h1>
    <div class='planeList'>
            <table>
                <tr class="tableTitle">
                    <td>Lidmašīnas nosaukums</td>
                    <td>Vietu skaits</td>
                    <td>Ražošanas gads</td>
                    <td>Lidosta</td>
                </tr>
                {% for elmnt in planesdata%}
                <tr class="tableInfo">
                    <td>{{ elmnt.planeName }}</td>
                    <td>{{ elmnt.planePlaces }}</td>
                    <td>{{ elmnt.planeReleaseDate }}</td>
                    <td>{{ elmnt.planeAirport }}</td>
                    <td>
                        <a href="/lidmasinas/{{elmnt.pid}}/del"><button class="delete btn" id="delete">Dzēst</button></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </header>
    <footer>
        </div>
        <div class='pictures'>
            <div class="photo">
                <img class="firstPhoto" src="static/photo/firstPlane.jpg" alt="First Plane Photo">
            </div>
            <div class="photo">
                <img class="secondPhoto" src="static/photo/secondPlane.jpg" alt="Second Plane Photo">
            </div>
            <div class="photo">
                <img class="thirdPhoto" src="static/photo/thirdPlane.jpg" alt="Third Plane Photo">
            </div>
        </div>
    </footer>
    <script src="static/js/planes.js"></script>
</body>
</html>