<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Reģistrācija</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Vārds</span>
            <input type="text" placeholder="Ievadiet vārdu" required>
          </div>
          <div class="input-box">
            <span class="details">Uzvārds</span>
            <input type="text" placeholder="Ievadiet uzvārdu" required>
          </div>
          <div class="input-box">
            <span class="details">E-Pasts</span>
            <input type="text" placeholder="Ievadiet E-Pastu" required>
          </div>
          <div class="input-box">
            <span class="details">Telefona Numurs</span>
            <input type="text" placeholder="Ievadiet telefona numuru" required>
          </div>
          <div class="input-box">
            <span class="details">Parole</span>
            <input type="password" placeholder="Ievadiet paroli" required>
          </div>
          <div class="input-box">
            <span class="details">Apstiprināt paroli</span>
            <input type="password" placeholder="Apstipriniet paroli" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Dzimums</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Vīrietis</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Sieviete</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Pielāgots</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Reģistrēties">
        </div>
      </form>
      <div class="buttons">
        <a href="/login"><button class="loginButton">Ienākt</button></a>
        <div class="divider"></div>
        <a href="/"><button class="mainButton">Atgriezties</button></a>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="static/js/register.js"></script>
</html>